#eventForm {
    max-width: 600px;
}

#eventForm .k-datetime-picker-wrapper .k-widget {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

#eventForm .k-edit-label { width: 17%; }
#eventForm .k-edit-field { width: 77%; }