<kendo-scheduler
  [kendoSchedulerBinding]="events"
  [kendoSchedulerReactiveEditing]="createFormGroup"
  [selectedDate]="selectedDate"
  style="height: 600px"
>
  <kendo-scheduler-month-view startTime="07:00"> </kendo-scheduler-month-view>
  <kendo-scheduler-week-view startTime="07:00"> </kendo-scheduler-week-view>
  <kendo-scheduler-day-view startTime="07:00"> </kendo-scheduler-day-view>

  <ng-template
    kendoSchedulerEditDialogTemplate
    autoFocusedElement=".title-input"
    let-formGroup="formGroup"
    let-isNew="isNew"
    let-editMode="editMode"
  >
    <div class="k-form-inline">
      <div class="k-form-field">
        <span>Title</span>
        <input
          class="k-textbox title-input"
          placeholder="Title"
          [formControl]="formGroup.get('title')"
        />
      </div>
      <div class="k-form-field k-datetime-picker-wrapper">
        <span>Start</span>
        <kendo-datepicker [formControl]="formGroup.get('start')">
        </kendo-datepicker>
        <kendo-timepicker
          [formControl]="formGroup.get('start')"
          *ngIf="!formGroup.controls.isAllDay.value"
        >
        </kendo-timepicker>
      </div>
      <div class="k-form-field k-datetime-picker-wrapper">
        <span>End</span>
        <kendo-datepicker [formControl]="formGroup.get('end')">
        </kendo-datepicker>
        <kendo-timepicker
          [formControl]="formGroup.get('end')"
          *ngIf="!formGroup.controls.isAllDay.value"
        >
        </kendo-timepicker>
      </div>
      <div class="k-form-field">
        <input
          type="checkbox"
          id="k-is-allday-chkbox"
          class="k-checkbox"
          [formControl]="formGroup.get('isAllDay')"
        />
        <label class="k-checkbox-label" for="k-is-allday-chkbox"
          >All Day Event</label
        >
      </div>
      <div class="k-form-field" *ngIf="isEditingSeries(editMode)">
        <kendo-recurrence-editor
          [formControl]="formGroup.get('recurrenceRule')"
        >
        </kendo-recurrence-editor>
      </div>
    </div>
  </ng-template>
</kendo-scheduler>
